{% extends "base.html" %}
{% block title %}ABOUT{% endblock title %}
{% block css %}../static/index.css{% endblock css %}
{% block body %}
<div class="about" id="about">
    <p>-About E-Waste</p>
    <h1>Making a revolution in E-Waste</h1>
    <br><br>
    <div class="about-area">
        <div class="about-left">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, nemo officia incidunt totam quo
                perferendis quasi eligendi omnis commodi repudiandae quae officiis. Ullam voluptatem dolore aliquam
                delectus illum qui velit at itaque sequi maiores nulla nobis asperiores iste fugiat repudiandae
                temporibus, consectetur quae sint suscipit odit dignissimos accusamus eligendi? Perferendis culpa
                iste animi possimus dolores id adipisci corporis nobis illo eaque! Mollitia fugit quasi velit
                aliquid, assumenda quia totam vero possimus dolor, ea repellat corrupti veniam asperiores incidunt?
                Cupiditate fugiat soluta facere aspernatur, iste aliquid nesciunt dolorum exercitationem,
                asperiores, ut vero. Dolore qui quo doloremque dolores cumque minus accusamus. Ab atque non,
                voluptate id doloribus sit nisi assumenda neque, suscipit, cum blanditiis! Quo sequi facere
                molestias ex exercitationem voluptas ipsum, doloremque vitae. Voluptate, eveniet magnam vitae quos
                praesentium omnis dolores dignissimos dicta adipisci expedita aut voluptatem. Modi atque optio
                asperiores ullam commodi dolorum earum possimus, aliquam impedit magnam repellat laudantium
                repellendus, facilis veritatis doloribus. Vel iusto fugit reiciendis sequi dolorem neque possimus
                sint aut minus optio similique earum inventore, ratione laborum eaque esse quia. Sed aliquid odit
                quod perferendis unde voluptatibus veritatis et quibusdam. Accusantium quas, corrupti quibusdam amet
                perferendis quis consequatur, earum, recusandae quisquam architecto ipsa officia minima harum?</p>
            <br>
            <div class="btns">
                <a href="" id="contact-btn">CONTACT US</a>
                <a href="" id="recycle-btn">RECYCLE SERVICES</a>
            </div>
        </div>
        <div class="about-right" data-aos="fade-left"
        data-aos-easing="linear"
        data-aos-duration="500">
            <img src="../static/ewaste.jpg" alt="">
        </div>
    </div>

</div>
{% endblock body %}