{% extends "base.html" %}
{% block title %}RECYCLE{% endblock title %}
{% block css %}../static/education.css{% endblock css %}

<body>
    {% block body %}
    <div class="education-container">
        <h1>Know about - Electronic Waste and It's Management</h1>
        <div class="article">
            <h2>Artciles : </h2>
            <div class="item">
                <p>Toward a cleaner and more sustainable world: A framework to develop and improve waste management
                    through organizations, governments and academia☆</p>
                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8987620/">Know more...</a>
            </div>
            <div class="item">
                <p>Sustainable Waste Management Strategies for Effective Energy Utilization in Oman: A Review</p>
                <a href="https://www.frontiersin.org/articles/10.3389/fbioe.2022.825728/full">Know more...</a>
            </div>
        </div>
        <div class="video">
            <h2>Videos : </h2>
            <div class="row">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu1I0czChtDjBQWhdzGMfa1L-t8okEc5WIcuwuoAng3A&s" alt="">
                    <p>How 6 Million Pounds Of Electronic Waste Gets Recycled A Month | Big Business</p>
                    <a href="https://youtu.be/S2lmPIa1iWE?si=Wr-PVeBS88NNucze">Watch</a>
                </div>
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUuSmNbpGubE0CPDvvbLxkaHj3CB7yBBww2YHXTmCHWQ&s" alt="">
                    <p>E-Waste - Huge Problem in India 😳#WorldEnvironmentDay</p>
                    <a href="https://youtu.be/bEw34DyFBS4?si=vhalVrBatQrZ8Hra">Watch</a>
                </div>
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3euOxz3-eAqN7hp-yqiJojDdLwmZb4V8J2GYiUVkrIQ&s" alt="">
                    <p>5 Profitable Waste Recycling Business Ideas - Future यही है!</p>
                    <a href="https://youtu.be/X87lYpdeHZM?si=rhxiVui7fj1x7QEQ">Watch</a>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <img src="https://i.ytimg.com/vi/MQLadfsvfLo/maxresdefault.jpg" alt="">
                    <p>How To Recycle E-Waste | Wilma Rodrigues | #OneForChange</p>
                    <a href="https://youtu.be/ApdkhWd7SfQ?si=RGt_sRrZbquVew9x">Watch</a>
                </div>
                <div class="card">
                    <img src="https://i.ytimg.com/vi/hT8QxsgquCs/maxresdefault.jpg" alt="">
                    <p>How to Turn Electronic Waste Into Raw Materials | Change The Future</p>
                    <a href="https://youtu.be/U3KUJTDPsSE?si=NXp8GLH-CayaNXRc">Watch</a>
                </div>
                <div class="card">
                    <img src="https://wellkins.com/wp-content/uploads/2024/01/e-waste-to-wellness--scaled.jpg" alt="">
                    <p>How to Deal With e-Waste? | Auditorial l Ep-19 l StudyIQ IAS Hindi</p>
                    <a href="https://youtu.be/bwljsb2yEYo?si=cQ1_jG5WJtvzGukP">Watch</a>
                </div>
            </div>
        </div>
    </div>


    {% endblock body %}
</body>