{% extends "base.html" %}
<head>
    {% block css %}../static/login.css{% endblock css %}
</head>
<body>
    {% block body %}
    {% for msg in messages %}
        <p>{{msg}}</p>
    {% endfor %}
    <div class="form">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Welcome back!</h1>
            <p>Welcome back! Please enter your details here</p>
            <br>
            <label for="">User name</label>
            <br>
            <input type="text" placeholder="username" name="username">
            <br><br>
            <label for="">Password</label>
            <br>
            <input type="password" placeholder="password" name="password">
            <br>
            <span>
                <span class="left">
                    <input type="checkbox" style="width: 20px;"> <label for="">show password</label>
                </span>
                <span class="right">
                    <a href="">Forget password?</a>
                </span>
            </span>
            <button id="login-btn">
                <a href="">Login</a>
            </button>
            <p>don't have account? Let's create one</p>
            <span id="signup-btn">
                <a href="{% url "signup" %}" >Sign up</a>
            </span>
        </form>
    </div>
    {% endblock body %}
</body>